{% extends 'myapp/base.html' %}
{% block body %}


<div class="product-container flex ">
    {% for product in products %}
<div class="product shadow-lg w-1/3 rounded-lg m-10">
    <div class="product-image">
        <img src="https://www.nicekicks.com/files/2020/06/air-jordan-jumpman-logo.jpg" alt="">
    </div>
    <div class='p-5'>
        <div class="font-bold"> 
            {{ product.name }}
        </div>
        <div class="text-sm mt-3">
            {{ product.description|slice:":100" }}...
        </div>
        <div class="text-indigo-500 mt-2 font-bold">
            ${{ product.price }}0
        </div>
        <div class="mt-5">
            <a class="bg-purple-800 text-white px-4 py-2" href="{% url 'detail' product.id %}">Details</a>
        </div>
    </div>
    
</div>
{% endfor %}  
</div>
{% endblock %}

  




   
    
